html, body {
  margin: 1%;  
  background-color: #f1f1f1;
}

footer {
  text-align: center;
}
nav {
  height: 80px;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 5%;
}

.navbar-brand {
  margin-left: 2%;
}
#homeContainer {
  margin-top: 5%;
}
#homeImage {
  max-width:400px;
  width: auto;
  height: auto;
}
.image {
  width: 100%;
  height: auto;
}

.container-show {
  margin-top: 2%;
  
}

.btn-action {
  float: right;
  margin-right: 1%;
}

/* Estrelas */
.estrelas{text-align: center; padding-top: 50px}

.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa{
  font-size: 2.5em
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}

.titulo-pag {
  text-align: center;
}